*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
@font-face {
font-family: 'Monaco';
src: url(Font/Exo-Regular.otf) format('truetype');
}
@font-face {
font-family: 'Upheaval TT (BRK)';
src: url(Font/upheavtt.ttf) format('truetype');
}

body{
  background-color: #101010;


}
.typing-container {
font-family: Arial, sans-serif;
font-size: 18px;
padding: 10px;

width: 400px;
height: 100px;
overflow: hidden;
}

#typing, .typed-cursor{

text-align: center;
font-size: 90px;
font-family: Monaco;
color: #fff;
display: inline;
}


.whatsapp{
width: 50px;
position: fixed;
right: 15px;
bottom: 25px;
z-index: 999;
}
#map {
height: 100%;
@media (max-width:600px) {
  height: 400px;
  margin-bottom: 50px;
}
}
#about{
.over-h{
  overflow: hidden;
}
padding: 50px 0px;

.about-p{
  font-size: 20px;
  text-align: justify;
}
.about-title{
  position: relative;
  font-size: 50px;
  z-index: 5;
  &::before{
    content: " ";
    background-color: #AA1A17;
    opacity: 0.5;
    position: absolute;
    width: 100%;
    height: 100%;
    left: -20px;
    top: 0px;
    z-index: -5;
    border-radius: 10px;

  }
  &::after{
    content: "About Us";
    color: #AA1A17;
    background-color: #fff;
    opacity: 0.2;
    position: absolute;
    width: 100%;
    height: 100%;
    left: -40px;
    top: 20px;
    z-index: -10;
    border-radius: 10px;
   

  }
}
.vission-container{
  position: relative;
  z-index: 11;
  .vision-overlay-bg{
    background-color: #fff;
    opacity: 0.5;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 40px;
    top: 20px;
    border-radius: 10px;
    z-index: -50;
  }
    .vision{
  margin-top: 100px;
  background-color: rgba($color: #AA1A17, $alpha: 0.50);
  padding: 1rem;
  border-radius: 10px;
  position: relative;
  


}
}

.mission{
  .z-10{
    position: relative;
    z-index: 10 !important;
  }
  background-color: rgba($color: #fff, $alpha: 0.40);
  padding: 1rem;
  border-radius: 10px;
  position: relative;
  color: #000000;
  z-index: 100;
  margin-top: 50px;
  .mission-overlay-bg{


    background-color: #AA1A17;
    opacity: 0.5;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 40px;
    top: 20px;
    z-index: -10;
    border-radius: 10px;
  }
}
}
.formulario {
width: 500px;
margin: auto;
max-width: 100%;
margin-top: 30px;
padding: 20px;
box-shadow: 0 0 20px 1px rgba(248, 99, 99, 0.3);
position: relative;
margin-bottom: 150px;
}
.formulario_titulo {
text-align: center;
margin-top: 0;
color: white;
}
.formulario_input, .formulario_label, .formulario_submit {
display: block;
width: 100%;
font-size: 1.3em;
color: white;
font-family: monospace;
}
.formulario_input {
padding: 20px;
border: 1px solid rgba(255, 255, 255, 0.3);
margin-bottom: 40px;
background: rgba(0, 0, 0, 0.8);
}
.formulario_label {
padding-left: 15px;
position: absolute;
margin-top: -75px;
z-index: -20px;
transition: all 0.3s;
color: rgb(255, 255, 255);
animation: shake 0.3s;
}
.formulario_submit {
background: #DB0C15;
color: white;
padding: 10px 20px;
cursor: pointer;
border-radius: 20px;
box-shadow: 0 0 20px 1px rgba(248, 99, 99, 0.3);
}
.formulario_input:focus + .formulario_label {
margin-top: -135px;
}
.fijar {
margin-top: -135px;
}
.clip {
  clip-path: polygon(
    0px 20px,
    4px 20px,
    4px 12px,
    8px 12px,
    8px 8px,
    12px 8px,
    12px 4px,
    16px 4px,
    20px 4px,
    20px 0px,
    calc(100% - 20px) 0px,
    calc(100% - 20px) 4px,
    calc(100% - 12px) 4px,
    calc(100% - 12px) 8px,
    calc(100% - 8px) 8px,
    calc(100% - 8px) 12px,
    calc(100% - 4px) 12px,
    calc(100% - 4px) 16px,
    calc(100% - 4px) 20px,
    100% 20px,
    100% calc(100% - 20px),
    calc(100% - 4px) calc(100% - 20px),
    calc(100% - 4px) calc(100% - 12px),
    calc(100% - 8px) calc(100% - 12px),
    calc(100% - 8px) calc(100% - 8px),
    calc(100% - 12px) calc(100% - 8px),
    calc(100% - 12px) calc(100% - 4px),
    calc(100% - 16px) calc(100% - 4px),
    calc(100% - 20px) calc(100% - 4px),
    calc(100% - 20px) 100%,
    20px 100%,
    20px calc(100% - 4px),
    12px calc(100% - 4px),
    12px calc(100% - 8px),
    8px calc(100% - 8px),
    8px calc(100% - 12px),
    4px calc(100% - 12px),
    4px calc(100% - 16px),
    4px calc(100% - 20px),
    0px calc(100% - 20px)
  );
}
.ar{

}
nav{
  select{
    background-color: #101010;
 
    border: none;
    color: #fff;
    vertical-align: middle;
    margin-top: 20px;
    font-family: "Monaco";
    font-size: 25px;
    margin-right: 20px;
  }
  .nav-link{
    font-family: "Monaco";
    font-size: 25px;
    position: relative;
    margin-right: 15px;
    &:hover{
      .line{
         width: 100%;
      }
     
    }

  }

  
  .line{
    width: 0%;
    height: 5px;
    background-color: #AA1A17;
    position: absolute;
    left: 0px;
    bottom: 10px;
    transition: all 200ms ease-in-out;

  }
}

.banner{
  .swiper-custom-container{
    .swiper-pagination-bullet {
      padding: 5px 0px;
      border-radius: 0;
      width: auto;
      height: 30px;
      text-align: center;
      line-height: 30px;
      font-size: 25px;
      color:#fff;
      opacity: 1;
      background: none;
      font-family: 'Monaco';
   
    }
    .swiper-pagination-bullet-active {
      color:#fff;
      position: relative;
      padding: 5px 30px;
      &:after {
        content: " ";
        height: 1px;
        width: 30px;
        background-color: #fff;
        position: absolute;
        top: 60%;
        margin-left: 2px;
    }

    }
    .mySwiper{
      .swiper-wrapper{
        .swiper-slide{
          
          .slide-text{
            width: 100%;
            height: 100%;
            padding: 0 50px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            background-color: rgba($color: #AA1A17, $alpha: 0.6);
            .slide-header{
              font-family: 'Upheaval TT (BRK)';
              font-size: 75px;
              width: 40%;
              line-height: 1;
              @media (max-width:600px) {
                font-size: 33px;
              }
            }
            .slide-p{
              font-family: 'Monaco';
              font-size: 30px;
              line-height: 1;
              width: 40%;
              @media (max-width:600px) {
                width: 100%;
               
               }
            }
            .slide-btn{
              padding: 2px 20px;
              font-size: 30px;
              font-family: 'Monaco';
              &:hover{
                box-shadow: 0px 7px 24px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 7px 24px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 7px 24px 0px rgba(0,0,0,0.75);
              }
      
            }
          }
          .slide-1{
            width: 100vw;
            height: 90vh;
            background-image: url('./Assests/slide-1.webp');
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;

          }
          .slide-2{
            width: 100vw;
            height: 90vh;
            background-image: url('./Assests/slide-2.webp');
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;

          }
          .slide-3{
            width: 100vw;
            height: 90vh;
            background-image: url('./Assests/slide-3.webp');
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;

          }
        }
      }
    }
  }
}


#services{
  .center{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
   }
   
   #scroll {
     animation: animateHeight 1.62s linear 0.3s 4;
   }
   #circle-roll {
     animation: animateRoll 1.7s linear 0.3s 4;
   }
   
   @keyframes animateRoll {
    50% {
       cy: 90;
       opacity: 0.1;
     }
   }
   
   @keyframes animateHeight {
     70% {
       height: 120px;
     }
   }
     
   .svg-2{
    position: absolute;
    right: 0;
    animation: rotate 4s infinite linear;
    @media (max-width:600px) {
      display: none;
    }
  }
  background-color: #191919;
  width: 100%;
  height: 100%;
  position: relative;
  padding-top: 50px;
  padding-bottom: 100px;
  overflow: hidden;
  h1{
    font-size: 40px;
    font-family: 'Upheaval TT (BRK)';
    color: #fff;
  }
  p{
    font-family: 'Monaco';
    font-size: 27px;
    color: #fff;
  }
  .elmt{
    position: absolute;
    
  }
  .element-1{
    left: 0px;
    z-index: 0;
  }
  .element-2{
    left: 50%;
  }
  .element-3{
    right: -6%;
    top: 60%;
  }
  .element-4{

    left: -50px;
    bottom: 0px;
  }
  
  .services-card{
    background-color: #101010;
    padding: 35px 55px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 10px;
    position: relative;
    cursor: pointer;
     
    h4{
      color: #fff;
      font-family: 'Monaco';

    }
  }
  .custom-modal{

    width: 100%;
    position: relative;
    z-index: 55;
    transition: all ease-in-out;
    .description{
      transition: all ease ;
    }
  }

}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#projects{
  padding: 20px 100px ;
  background: rgb(0,0,0);
  background: linear-gradient(146deg, rgba(0,0,0,0.8800770308123249) 60%, rgba(170,23,23,0.7148109243697479) 100%);



}

#custmers{
svg{
  position: absolute;
  right: 0;
  animation: rotate 4s infinite linear;
  @media (max-width:600px) {
    display: none;
  }
}
position: relative;
padding-bottom: 50px;
.container{
  position: relative;
  margin-top: 52px;
}
.arrows-container{
  display: flex;
  align-items: center;
  position: absolute;
  right: 0px;
  .sw-left,
  .sw-right{
    position: relative;
    z-index: 2;
  }
  .icone-border{
    background-color: transparent;

    margin-left: 5px;
    border: none;
    
  }
  .las{
   width: 40px;
   object-fit: contain;
   border: none;
  }
  .right{
    transform: rotate(180deg);
  }
}
.customer-opinion-container{
  display: flex;
  flex-direction: column;
  color: #fff;
  h1{
    font-family: "Upheaval TT (BRK)";
    margin-top: 50px;
    padding: 50px 20px;

  }
  p{
    font-family: "Monaco";
    font-size: 25px;
    line-height: 1;
  }
  name{
    font-family: "Upheaval TT (BRK)";
    color: #DB0C15;
    font-size: 30px;
  }
  span{
    font-family: "Monaco";
    font-size: 20px;
  }
}
}

footer{
position: relative;
  .stay-in-t-col{
  background-image: url(Assests/bg-footer.webp);
  background-size: cover;
  

  width: 100%;

  position: relative;
  display: flex;
 
  justify-content: center;

  color: #fff;
  z-index: 5;
  &::after{
    content: " ";
    position: absolute;
    background-color: rgba($color: #AA1A17, $alpha: 0.6);
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  .stay-in-t-text{
   padding: 50px 30px 50px 0px;
   h1{
    font-family: "Upheaval TT (BRK)";
    font-size: 50px;
    width: 60%;
    line-height: 1;
   }
   p{
    font-family: "Monaco";
    font-size: 33px;
    line-height: 1;
   }
   .contact-us{

    font-family: "Monaco";
    font-size: 28px;
    color: #fff;
    border: #fff 1px solid;
    background-color: transparent;
    padding: 0px 10px;
    border-radius: 5px;
    transition: all 100ms;

    &:hover{
      background-color: #fff;
      color: #DB0C15;
    }
   }

  }
  
}
}
.address-col{
margin-left: 8rem;
display: flex;
justify-content: center;
align-items: stretch;
flex-direction: column;
@media (max-width:600px) {
margin-left: 1rem;

}
h1{
  color: #fff !important;
  font-family: "Monaco";
  font-size: 55px;
  font-weight: 900;
} 
h5{
  font-size: 35px;
  color: #fff;
  @media (max-width:600px) {
    font-size: 22px;
    margin-left: 15px;
   
   }
}
.la-envelope,
.la-phone-volume,
.la-map-marker-alt{
  color: #AA1A17;
  font-size: 40px;
}
}

//  ---------------------
.projects{
color: #fff;
font-family: "Monaco";
margin-bottom: 150px;
p{
  line-height: 0.5;
  font-size: 30px;
}
h1{
  line-height: 0.8;
  font-size:55px;
}
.image-container{

  width: 100%;
  position: relative;
  h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    z-index: 999;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  img{
    width: 100%;
  }
  .red-line{
    height: 2px;
    background-color: #AA1A17;
    width: 0px;
    position: absolute;
    top: 20%;
    left: 10%;
    z-index: 999;
    transition: width 0.5s ease-in-out;
  }
  .vertical{
    rotate: 90deg;
    transform-origin: 0% 0%;
  }
  .second{
    top: 80%;
    left: 60%;
   
  }
  .sec-ver{
    rotate: 90deg;
    transform-origin: 100% 0%;
  }
  &:hover{
    .red-line{
      width: 150px;

    }
    h1{
    opacity: 1;
    }
    &::after{
      content: " ";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($color: #000000, $alpha: 0.5);
      transition: all .5s ease;
      z-index: 5;
    }
 
}
}
 
}