* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: 'Monaco';
  src: url(Font/monaco.ttf) format(ttf);
}

@font-face {
  font-family: 'Upheaval TT (BRK)';
  src: url(Font/upheavtt.ttf) format(ttf);
}

body {
  background-color: #101010;
}

.clip {
  -webkit-clip-path: polygon(0px 20px, 4px 20px, 4px 12px, 8px 12px, 8px 8px, 12px 8px, 12px 4px, 16px 4px, 20px 4px, 20px 0px, calc(100% - 20px) 0px, calc(100% - 20px) 4px, calc(100% - 12px) 4px, calc(100% - 12px) 8px, calc(100% - 8px) 8px, calc(100% - 8px) 12px, calc(100% - 4px) 12px, calc(100% - 4px) 16px, calc(100% - 4px) 20px, 100% 20px, 100% calc(100% - 20px), calc(100% - 4px) calc(100% - 20px), calc(100% - 4px) calc(100% - 12px), calc(100% - 8px) calc(100% - 12px), calc(100% - 8px) calc(100% - 8px), calc(100% - 12px) calc(100% - 8px), calc(100% - 12px) calc(100% - 4px), calc(100% - 16px) calc(100% - 4px), calc(100% - 20px) calc(100% - 4px), calc(100% - 20px) 100%, 20px 100%, 20px calc(100% - 4px), 12px calc(100% - 4px), 12px calc(100% - 8px), 8px calc(100% - 8px), 8px calc(100% - 12px), 4px calc(100% - 12px), 4px calc(100% - 16px), 4px calc(100% - 20px), 0px calc(100% - 20px));
          clip-path: polygon(0px 20px, 4px 20px, 4px 12px, 8px 12px, 8px 8px, 12px 8px, 12px 4px, 16px 4px, 20px 4px, 20px 0px, calc(100% - 20px) 0px, calc(100% - 20px) 4px, calc(100% - 12px) 4px, calc(100% - 12px) 8px, calc(100% - 8px) 8px, calc(100% - 8px) 12px, calc(100% - 4px) 12px, calc(100% - 4px) 16px, calc(100% - 4px) 20px, 100% 20px, 100% calc(100% - 20px), calc(100% - 4px) calc(100% - 20px), calc(100% - 4px) calc(100% - 12px), calc(100% - 8px) calc(100% - 12px), calc(100% - 8px) calc(100% - 8px), calc(100% - 12px) calc(100% - 8px), calc(100% - 12px) calc(100% - 4px), calc(100% - 16px) calc(100% - 4px), calc(100% - 20px) calc(100% - 4px), calc(100% - 20px) 100%, 20px 100%, 20px calc(100% - 4px), 12px calc(100% - 4px), 12px calc(100% - 8px), 8px calc(100% - 8px), 8px calc(100% - 12px), 4px calc(100% - 12px), 4px calc(100% - 16px), 4px calc(100% - 20px), 0px calc(100% - 20px));
}

nav .nav-link {
  font-family: "Monaco";
  font-size: 25px;
}

.banner .swiper-custom-container .swiper-pagination-bullet {
  padding: 5px 0px;
  border-radius: 0;
  width: auto;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 25px;
  color: #fff;
  opacity: 1;
  background: none;
  font-family: 'Monaco';
}

.banner .swiper-custom-container .swiper-pagination-bullet-active {
  color: #fff;
  position: relative;
  padding: 5px 30px;
}

.banner .swiper-custom-container .swiper-pagination-bullet-active:after {
  content: " ";
  height: 1px;
  width: 30px;
  background-color: #fff;
  position: absolute;
  top: 60%;
  margin-left: 2px;
}

.banner .swiper-custom-container .mySwiper .swiper-wrapper .swiper-slide .slide-text {
  width: 100%;
  height: 100%;
  padding: 0 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(170, 26, 23, 0.6);
}

.banner .swiper-custom-container .mySwiper .swiper-wrapper .swiper-slide .slide-text .slide-header {
  font-family: 'Upheaval TT (BRK)';
  font-size: 75px;
  width: 40%;
  line-height: 1;
}

.banner .swiper-custom-container .mySwiper .swiper-wrapper .swiper-slide .slide-text .slide-p {
  font-family: 'Monaco';
  font-size: 30px;
  line-height: 1;
  width: 40%;
}

.banner .swiper-custom-container .mySwiper .swiper-wrapper .swiper-slide .slide-text .slide-btn {
  padding: 2px 20px;
  font-size: 30px;
  font-family: 'Monaco';
}

.banner .swiper-custom-container .mySwiper .swiper-wrapper .swiper-slide .slide-text .slide-btn:hover {
  box-shadow: 0px 7px 24px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 7px 24px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 7px 24px 0px rgba(0, 0, 0, 0.75);
}

.banner .swiper-custom-container .mySwiper .swiper-wrapper .swiper-slide .slide-1 {
  width: 100vw;
  height: 90vh;
  background-image: url("./Assests/slide-1.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.banner .swiper-custom-container .mySwiper .swiper-wrapper .swiper-slide .slide-2 {
  width: 100vw;
  height: 90vh;
  background-image: url("./Assests/slide-2.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.banner .swiper-custom-container .mySwiper .swiper-wrapper .swiper-slide .slide-3 {
  width: 100vw;
  height: 90vh;
  background-image: url("./Assests/slide-3.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#services {
  background-color: #191919;
  width: 100%;
  height: 100%;
  position: relative;
  padding-top: 50px;
  padding-bottom: 100px;
  overflow: hidden;
}

#services h1 {
  font-size: 40px;
  font-family: 'Upheaval TT (BRK)';
  color: #fff;
}

#services p {
  font-family: 'Monaco';
  font-size: 27px;
  color: #fff;
}

#services .elmt {
  position: absolute;
}

#services .element-1 {
  left: 0px;
  z-index: 0;
}

#services .element-2 {
  left: 50%;
}

#services .element-3 {
  right: -6%;
  top: 60%;
}

#services .element-4 {
  left: -50px;
  bottom: 0px;
}

#services .services-card {
  background-color: #101010;
  padding: 35px 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 10px;
  position: relative;
}

#services .services-card h4 {
  color: #fff;
  font-family: 'Monaco';
}
/*# sourceMappingURL=style.css.map */